@model User
<style>
    .card{
        border: outset 2px white;
        border-radius: 10px;
    }
    .card-header{
        
        border-radius: 10px;
        
    }
</style>

<div class="card">
    <div class="card-header bg-primary display-4 text-white">Register</div>
    <div class="card-body ">
        <form action="/Register" method="post" class="was-validated">
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">First Name:</label>
                        <input asp-for="FirstName" class="form-control btn-outline-primary" required/>
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group">
                        <label for="">Last Name:</label>
                        <input asp-for="LastName" class="form-control btn-outline-primary" required/>
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>
                    <div class="form-group">
                        <label for="">Email:</label>
                        <input asp-for="Email" class="form-control btn-outline-primary" required/>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Password:</label>
                        <input asp-for="Password" class="form-control btn-outline-primary" required/>
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <label for="">Confirm:</label>
                        <input asp-for="ConfirmPassword" class="form-control btn-outline-primary" required/>
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-outline-dark" value="Submit">
        </form>
    </div>
</div>